/* Lato font */

/* lato-regular - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('/static/fonts/lato-v16-latin-regular.woff2') format('woff2'), url('/static/fonts/lato-v16-latin-regular.woff') format('woff');
}

/* lato-italic - latin */

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url('/static/fonts/lato-v16-latin-italic.woff2') format('woff2'), url('/static/fonts/lato-v16-latin-italic.woff') format('woff');
}

/* lato-700 - latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('/static/fonts/lato-v16-latin-700.woff2') format('woff2'), url('/static/fonts/lato-v16-latin-700.woff') format('woff');
}

/* lato-700italic - latin */

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('/static/fonts/lato-v16-latin-700italic.woff2') format('woff2'), url('/static/fonts/lato-v16-latin-700italic.woff') format('woff');
}

body {
    font-size: 110%;
    font-family: Lato;
    background-color: #f7f7f7;
}

.menu {
    background-color: rgb(13, 25, 83);
}

.menu a {
    color: white;
}

.button {
    background-color: rgb(13, 25, 83);
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1.0em;
}

a {
    color: rgb(13, 25, 83);
}

input[name="q"] {
    margin-bottom: 2.0em;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border: none;
    background-color: rgb(13, 25, 83);
    /*background: url(../Images/Plane.png) no-repeat right;*/
    color: #fff;
    cursor: pointer;
}

div.result {
    padding:  1.0em;
    background-color: #fefefe;
    border: 1px solid #efefef;
    margin-bottom: 0.7em;
}

div.result p {
    margin-bottom: 0;
}


/* Autocompletion styles */
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
