body {
    font-size: 110%;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    background-color: #f7f7f7;
    color: #111;
}

.menu {
    background-color: rgb(13, 25, 83);
}

.menu a {
    color: white;
}

.button {
    background-color: rgb(13, 25, 83);
}

h1 {
    font-size: 1.5em;
    margin-bottom: 1.0em;
}

h2 {
    font-size: 1.25em;
    margin-bottom: 1.0em;
}

a {
    color: rgb(13, 25, 83);
    text-decoration: underline;
}

input[name="q"] {
    margin-bottom: 2.0em;
}

input[type="submit"] {
    width: 100%;
    /*height: 40px;*/
    border: none;
    background-color: rgb(13, 25, 83);
    color: #fff;
    cursor: pointer;
}

div.result {
    padding: 1.0em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-color: #fefefe;
    border: 1px solid #efefef;
    margin-bottom: 0.7em;
}

div.item {
    margin-bottom: 0.5em;
}

div.item ul {
    margin-left: 1.6em;
}

div.ipa {
    margin-bottom: 1.0em;
}

div.wordcat {
    font-weight: 600;
    margin-bottom: 0.5em;
    /* font-style: italic; */
}

div.result:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    border: 1px solid #ddd;
}

div.result a {
    text-decoration: none;
}

div.result p {
    margin-bottom: 0;
}

div.itemlinks {
    float: right;
    color: #aaa;
    height: 100%;
    margin-left: 5px;
}

div.itemslinks>svg {
    color: #aaa;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.pag_arrow {
    width: 30px;
    margin-bottom: 10px;
    color: blue;
}

.pag_right {
    float: right;
}

.pag_left {
    float: left;
}

a.result_link {
    color: #111;
}

.aboutimg {
    width: 25%;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

#wordcats td a, #general_stats td a {
    text-decoration: none;
}

/* Autocompletion styles */
.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #f0f0f0;
}