{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Um ensk.is">

{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Um ensk.is</h1>

<p>Vefurinn <a href="/"><strong>ensk.is</strong></a> veitir aðgang að <em>frjálsri,
        opinni ensk-íslenskri orðabók.</em>
</p>

<a href="/static/img/front_enis1932.jpg">
    <img src="/static/img/front_enis1932_thumb.jpg" class="aboutimg" alt="Forsíða orðabókarinnar">
</a>

<p>Orðabók þessi var unnin upp úr <strong>3. útgáfu ensk-íslenzku orðabókar
        Geirs T. Zoëga frá árinu 1932</strong>, sem er fallin úr höfundarétti, og er
    í raun eins konar 4. útgáfa, með ótal mörgum viðbótum og
    leiðréttingum. Nánari upplýsingar <a href="/zoega">hér</a>.</p>

<p>Íslensk og ensk málnotkun og stafsetning hefur breyst
    mikið undanfarna öld. Fyrir vikið þurfti að snúa ýmsum skilgreiningum
    yfir á nútímaíslensku, laga gamaldags orðalag, og bæta nýjum færslum við
    eftir þörfum. Eins og stendur geymir orðabókin
    <a href="/all">{{ num_entries }}
        {{ "orðaskilgreiningu" if entries_singular else "orðaskilgreiningar" }}</a>,
    þar af
    <a href="/additions">{{ num_additions }}
        {{ "viðbót" if additions_singular else "viðbætur" }}</a>
    ({{ additions_percentage }}).
    Nánari tölfræði <a href="/stats">hér</a>.
</p>

<p>
    <em>Orðabók þessi er gefin út í <strong>almannaeign</strong> (e. public domain)
        og nýtur hvorki höfundar- né einkaleyfisverndar.</em>
    Öllum er frjálst að sækja hana, afrita, breyta, og endurbirta að vild. Frumgögn
    á ýmsum sniðum má nálgast <a href="/files">hér</a>. Kóðinn á bak við vefinn er
    <a href="https://github.com/sveinbjornt/ensk.is">opinn á GitHub.</a>
</p>

<p>Ritstjóri og umsjónarmaður er
    <a href="mailto:sveinbjorn@sveinbjorn.org">Sveinbjörn Þórðarson</a>.
</p>

<br>

<h1>Persónuvernd</h1>

<p>Þessi vefur notar ekki vefkökur (e. <em>cookies</em>), vistar ekki leitir notenda
    á rekjanlegan hátt, krefst ekki JavaScript, og nýtir ekki þjónustur á borð við
    Google Analytics til þess að safna tölfræði um heimsóknir.</p>

<br>

<h1>Styrkir</h1>

<p>Það krefst tíma og peninga að reka og bæta þessa netorðabók.
    Viljir þú styrkja rekstur og áframhaldandi vinnu er hægt að millifæra á
    Sveinbjörn Þórðarson (ritstj.), kt. 311281-5189, reikningsnúmer 0111-26-005189.</p>

<p>Einnig er hægt að nota PayPal:</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="BDT58J7HYKAEE">
    <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donate_LG.gif"
        name="submit" alt="PayPal" width="92" height="26">
</form>

<br>
<br>
<br>
<br>

{% endblock %}