{% extends "container.html" %}

{% block meta %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Um ensk.is</h1>

<p>Vefurinn <a href="/"><strong>ensk.is</strong></a> veitir aðgang að <em>frjálsri, opinni ensk-íslenskri orðabók.</em></p>

<a href="/static/img/front_enis1932.jpg">
<img src="/static/img/front_enis1932.jpg" style="width:25%; float:right; margin-left:20px; margin-bottom:20px" alt="Forsíða orðabókarinnar">
</a>

<p>Orðabók þessi var unnin var upp úr <strong>3. útgáfu ensk-íslenzku orðabókar Geirs T. Zoëga frá árinu 1932</strong>, sem er fallin úr höfundarétti, og er í raun eins konar 4. útgáfa, með ótalmörgum endurbótum, viðbótum og leiðréttingum. Nánari upplýsingar <a href="/zoega">hér</a>.</p>

<p>Eins og gefur að skilja hefur bæði íslensk og ensk málnotkun og stafsetning breyst mikið á síðustu 90 árum. Fyrir vikið þurfti að snúa ýmsum skilgreiningum yfir á nútímaíslensku, laga gamaldags orðalag, og bæta við nýjum færslum eftir þörfum. Eins og stendur geymir orðabókin u.þ.b. 30 þúsund orðaskilgreiningar. 
</p>

<p><em>Orðabók þessi er gefin út í <strong>almannaeign</strong> (e. public domain) og nýtur hvorki höfundar- né einkaleyfisverndar.</em> Öllum er frjálst að sækja hana, afrita, breyta og endurbirta að vild. Frumgögn á ýmsum sniðum má nálgast <a href="/files">hér.</a></p>

<p>Ritstjóri og umsjónarmaður er <a href="mailto:sveinbjorn@sveinbjorn.org">Sveinbjörn Þórðarson</a>.</p>

<br>

<h1>Persónuvernd</h1>

<p>Þessi vefur notar ekki vefkökur (e. <em>cookies</em>), vistar ekki leitir notenda
    og nýtir ekki þjónustur á borð við Google Analytics til þess að safna tölfræði
    um heimsóknir.</p>

<br>
<br>
<br>
<br>




{% endblock %}