{% extends "container.html" %}

{% block meta %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Um ensk.is</h1>

<p>Vefurinn <a href="/"><strong>ensk.is</strong></a> býður landsmönnum upp á <em>frjálsa, opna ensk-íslenska orðabók.</em></p>

<a href="/static/img/front_enis1932.jpg">
<img src="/static/img/front_enis1932.jpg" style="width:25%; float:right; margin-left:20px; margin-bottom:20px">
</a>

<p>Orðabók þessi var unnin var upp úr <strong>3. útgáfu ensk-íslenzku orðabókar Geirs T. Zoëga og Þorsteins Þorsteinssonar frá árinu 1932</strong> og er í raun eins konar 4. útgáfa, með ótalmörgum endurbótum, viðbótum og leiðréttingum. Nánari upplýsingar <a href="">hér</a>.</p>

<p>Eins og gefur að skilja hefur bæði íslensk og ensk málnotkun og stafsetning breyst mikið á síðustu 90 árum. Þar af leiðandi þurfti að snúa skilgreiningum yfir á nútímaíslensku, laga gamaldags orðalag, og bæta við nýjum merkingum eftir þörfum. Eins og stendur geymir orðabókin u.þ.b. 30 þúsund orðaskilgreiningar. 
</p>

<p><em>Orðabók þessi er gefin út í <strong>public domain</strong> og nýtur hvorki höfundar- né einkaleyfisverndar.</em> Öllum er frjálst að sækja hana, afrita, breyta og/eða birta eftir eigin höfði. Frumgögn má nálgast <a href="/files">hér.</a></p>

<p>Ritstjóri og umsjónarmaður er <a href="mailto:sveinbjorn@sveinbjorn.org">Sveinbjörn Þórðarson</a>.</p>

<p><br><br></p>

{% endblock %}