{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Viðbætur við ensk-íslensku orðabók Geirs Zoëga">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Viðbætur</h1>

<p>Ritstjórn hefur bætt eftirfarandi færslum við orðabókina. Færslurnar eru
    orðnar {{ num_additions }} talsins ({{ additions_percentage }} af
    <a href="/all">heildinni</a>).
</p>

<p>
    {% for a in additions %}

    <a href="/item/{{ a }}">{{ a }}</a>
    <br>

    {% endfor %}
</p>

<br>
<br>
<br>
<br>

{% endblock %}