<!DOCTYPE html>
<html lang="is">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="application-name" content="ensk.is">

    <title>Ensk.is</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <meta property="og:image" content="/static/img/og.png">

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

</body>

</html>