{% extends "container.html" %}

{% block meta %}
<meta name="description" content="A free and open English-Icelandic dictionary" lang="en">
<meta property="og:description" content="A free and open English-Icelandic dictionary" lang="en">
<link rel="canonical" href="https://ensk.is/english_icelandic_dictionary">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1 lang="en">About ensk.is</h1>

<p lang="en"><a href="/"><strong>ensk.is</strong></a> is a <em>free and open public
        domain online English-Icelandic dictionary.</em></p>

<p lang="en">The author of the original dictionary, Geir T. Zoëga (1857-1928), was an
    English language teacher and later rector at the Learned School of Reykjavík
    in the years 1883-1927. The first edition was published in 1896. The digitised,
    extended and sanitised version presented here is based on the much-improved
    third edition (1932) edited by Þorsteinn Þorsteinsson.</p>

<p lang="en">This new edition of the dictionary has been comprehensively updated and modernised.
    The text now conforms to modern Icelandic orthography, various errors in the original have been
    corrected, and the vocabulary has been significantly expanded to reflect contemporary usage.</p>

<p lang="en">The dictionary currently contains <a href="/all">{{ num_entries }} entries</a>,
    of which <a href="/additions">{{ num_additions }}</a>
    are new additions ({{ additions_percentage }}). More statistics <a href="/stats">here</a>.</p>

<p lang="en">Ensk.is provides <a href="/docs">an easy-to-use JSON API</a>. However,
    for bulk processing or low-latency applications, the <a href="/files">downloadable
        version</a> is recommended.</p>

<p lang="en">The current editor and maintainer is
    <a href="mailto:sveinbjorn@sveinbjorn.org">Sveinbjörn Þórðarson</a>.
</p>

<br>

<h1 lang="en">License</h1>

<p lang="en">This dictionary is in the <strong>public domain</strong> within all
    countries where permitted under a Creative Commons Zero
    (<a href="https://creativecommons.org/public-domain/cc0/">CC0</a>) license.
    The dictionary source files and the source code to the web application are
    available on <a href="https://github.com/sveinbjornt/ensk.is">GitHub</a>.</p>

<br>

<h1 lang="en">Privacy</h1>

<p lang="en">This website does not use cookies, does not store user searches, does not require
    JavaScript, and does not use services such as Google Analytics to collect data.</p>

<br>

<h1 lang="en">Donations</h1>

<p lang="en">It takes time and money to host and improve this online dictionary.
    If you would like to support this project, please make a donation
    to Sveinbjorn Thordarson (editor and maintainer) using PayPal:</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="BDT58J7HYKAEE">
    <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donate_LG.gif"
        name="submit" alt="PayPal" width="92" height="26">
</form>

<br>
<br>
<br>
<br>

{% endblock %}