{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Sækja gögnin á bak við vefinn ensk.is">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Gögnin á bak við ensk.is</h1>

<p>Hér er hægt að sækja gögnin á bak við <a href="/">ensk.is</a> orðabókina á ýmsum sniðum.
  <!-- Gögn þessi voru síðast uppfærð {{ last_updated }}.</p> -->

<ul>
  <li><a href="/static/files/ensk.is.db.zip">⇩ SQLite3-gagnagrunnur</a> ({{ sqlite_size }})</li>
  <li><a href="/static/files/ensk.is.json.zip">⇩ JSON-skjal</a> ({{ json_size }})</li>
  <li><a href="/static/files/ensk.is.csv.zip">⇩ CSV-skjal</a> ({{ csv_size }})</li>
  <li><a href="/static/files/ensk.is.txt.zip">⇩ Textaskjal</a> ({{ text_size }})</li>
  <!-- <li><a href="/static/files/ensk.is.dictionary.zip">⇩ Apple Dictionary fyrir macOS</a></li> -->
  <li><a href="/static/files/ensk.is.pdf">⇩ PDF-skjal</a> ({{ pdf_size }})</li>
</ul>

<p><strong><em>Gögn þessi eru gefin út í almannaeign (e. </em>public domain<em>) og njóta hvorki höfundar-
      né einkaleyfisverndar. Öllum er frjálst að sækja þau, afrita, breyta og endurbirta
      að vild.</em></strong></p>

<p>Upprunalegu myndgögnin (ljóslesnar blaðsíður) er hægt að <a href="/page/1">skoða hér</a>.</p>

<p>Upprunalega orðabókin er einnig aðgengileg á PDF-sniði á vefnum <a
    href="https://baekur.is/bok/000132498/0/2/Ensk-islenzk_ordabok">Bækur.is</a>.
</p>

<p>Kóðinn á bak við vefinn er <a href="https://github.com/sveinbjornt/ensk.is">opinn á GitHub</a>
  undir BSD-leyfi.</p>

<p>Ensk.is býður einnig upp á forritaskil (API). <a href="/docs">Sjá nánar hér.</a>
  Það er sennilega skilvirkast að sækja gagnagrunninn og nota hann beint ef hraði skiptir máli.</p>

<p>IPA-hljóðritun á enskum orðum var
  <a href="https://github.com/open-dict-data/ipa-dict">fengin hér.</a>
</p>

<p>Talgerving á enskum orðum var gerð með
  <a href="https://www.unix.com/man-page/osx/1/say/">talgervingartækni frá Apple</a>.
</p>

<br>
<br>
<br>
<br>

{% endblock %}