{% extends "container.html" %}

{% block meta %}
  <meta name="description" content="Sækja gögnin á bak við vefinn ensk.is">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Gögn</h1>

<p>Á þessari síðu er hægt að sækja gögnin á bak við ensk.is orðabókina á ýmsum sniðum:
</p>

<ul>
    <li><a href="/static/files/ensk_dict.db.zip">⇩ SQLite3 gagnagrunnur</a></li>
    <li><a href="/static/files/ensk_dict.csv.zip">⇩ CSV skjal</a></li>
    <li><a href="/static/files/ensk_dict.txt.zip">⇩ Textaskjöl</a></li>
    <!-- <li><a href="/files/ensk_dict.pdf">⇩ PDF skjal</a></li> -->
</ul>

<p>Upprunalegu myndgögnin (ljóslesnar blaðsíður) er hægt að <a href="/page/1">skoða hér</a>.</p>

<p>Orðabókin er einnig aðgengileg í sinni upprunalegu mynd á PDF sniði á vefnum <a href="https://baekur.is/bok/000132498/0/2/Ensk-islenzk_ordabok">Bækur.is</a>
</p>

{% endblock %}