{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Opin og frjáls ensk-íslensk orðabók">
<meta property="og:description" content="Opin og frjáls ensk-íslensk orðabók">
<link rel="canonical" href="https://ensk.is">
{% endblock %}

{% block script %}
{% include 'searchjs.html' %}
{% endblock %}

{% block content %}
<div style="text-align: right; float:right; margin-top:-50px; font-size:0.7em;"><a
        href="https://enska.arnastofnun.is/is/">Vantar þig
        íslensk-enska orðabók?</a>
</div>

{% include 'searchfield.html' %}

{% endblock %}