{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Skilgreining á enska orðinu '{{ word|safe }}'">

<script>
    function play(elm) {
        new Audio(elm.href).play();
        return false;
    }
</script>
{% endblock %}

{% block content %}

<h1 class="item_title">
    {{ word|safe }}
    {% if results[0].page_num > 0 %}
    <a href="{{ results[0].page_url }}" title="Skoða blaðsíðu í orðabók">
        <img src="/static/img/book.svg" width="20">
    </a>
    {% endif %}
</h1>

<!--googleoff: index-->

{% if results[0].syllables %}
<div class="syllables"><span class="">{{ results[0].syllables }}</span></div>
{% endif %}

<div class="ipa">

    <strong>UK:</strong>
    <a href="{{ results[0].audio_uk }}" onClick="return play(this);" title="Spila hljóðupptöku af framburði">
        <img src="/static/img/audio.svg">
        {% if results[0].ipa_uk %}
        {{ results[0].ipa_uk }}
        {% endif %}
    </a>

    &nbsp;

    {% if results[0].ipa_us %}
    <strong>US:</strong>
    <a href="{{ results[0].audio_us }}" onClick="return play(this);" title="Spila hljóðupptöku af framburði">
        <img src="/static/img/audio.svg">
        {{ results[0].ipa_us }}
    </a>
    {% endif %}
</div>

<!--googleon: index-->

<div class="item">
    {% for c in comp %}
    <div class="wordcat">{{ c }}</div>
    <ul>
        {% for r in comp[c] %}
        <li>{{ r|safe }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

{% if synonyms %}
<hr class="separator">

<p><strong>Samheiti: </strong>
    {% for s in synonyms %}
    {% if s.exists %}
    <span><a href="/item/{{ s.word|safe }}">{{ s.word|safe }}</a>{{ ", " if not loop.last else "" }}</span>
    {% else %}
    <span>{{ s.word|safe }}{{ ", " if not loop.last else "" }}</span>
    {% endif %}
    {% endfor %}
</p>
{% endif %}

{% if antonyms %}
<p><strong>Andheiti: </strong>
    {% for a in antonyms %}
    {% if a.exists %}
    <span><a href="/item/{{ a.word|safe }}">{{ a.word|safe }}</a>{{ ", " if not loop.last else "" }}</span>
    {% else %}
    <span>{{ a.word|safe }}{{ ", " if not loop.last else "" }}</span>
    {% endif %}
    {% endfor %}
</p>
<br>
{% endif %}

</div>



<br>
<br>
<br>
<br>

{% endblock %}