{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Skilgreining á enska orðinu '{{ word|safe }}'">
{% endblock %}

{% block content %}

<h1 style="margin-bottom:0px;">
    {{ word|safe }}
    {% if results[0].p %}
    <a href="/page/{{ results[0].p }}" title="Skoða blaðsíðu í orðabók">
        <img src="/static/img/book.svg" width="20">
    </a>
    {% endif %}
</h1>

<p>
    <strong>UK:</strong>
    <a href="{{ results[0].a }}" onClick="return play(this);" title="Spila hljóðupptöku af framburði">
        <img src="/static/img/audio.svg">
        {{ results[0].i }}
    </a>
    {% if results[0].i2 %}
    <strong>BNA:</strong>
    <a href="{{ results[0].a }}" onClick="return play(this);" title="Spila hljóðupptöku af framburði">
        <img src="/static/img/audio.svg">
        {{ results[0].i2 }}
    </a>
    {% endif %}
</p>

{% for r in results %}
<div class="result grid-container">
    <p>{{ r.x|safe }}</p>
</div>
{% endfor %}

<br>
<br>
<br>

{% endblock %}