{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Síða {{ n }} í upprunalegu orðabók Geirs T. Zoëga.">
<meta property="og:description" content="Síða {{ n }} í upprunalegu orðabók Geirs T. Zoëga.">
{% endblock %}

{% block script %}
<script src="/static/js/grounding.js" defer></script>
{% endblock %}

{% block content %}

<h1 style="margin-bottom:10px">Ensk-íslensk orðabók (1932), bls. {{ n|safe }}</h1>

<div>
    {% if n > 1 %}
    <a href="/page/{{ n - 1 }}">
        <img src="/static/img/left_arrow.svg" class="pag_arrow pag_left">
    </a>
    {% endif %}

    {% if n <= 707 %} <a href="/page/{{ n + 1 }}">
        <img src="/static/img/right_arrow.svg" class="pag_arrow pag_right">
        </a>
        {% endif %}
</div>

<div id="page-image-container" style="position: relative; display: inline-block; width: 100%;">
    <a href="/static/img/pages/{{ npad }}.jpg">
        <img id="dictionary-page-image" src="/static/img/pages/{{ npad }}.jpg"
            style="width: 100%; height: auto; display: block;" data-page="{{ n }}">
    </a>
</div>

<br>
<br>
<br>
<br>

{% endblock %}