<script src="/static/js/autocomplete.min.js" crossorigin="anonymous"
    integrity="sha384-LMHHa8MsLF6m7I6ZuNCK9rueUJyBuPa+mugXyxxfYulzeKaX855ym6abPl+Pu6BG" defer></script>
<script>
    function ajax_get(url, callback) {
        // Make an AJAX GET request
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try {
                    var data = JSON.parse(xmlhttp.responseText);
                } catch (err) {
                    console.log(err.message + " in " + xmlhttp.responseText);
                    return;
                }
                callback(data);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function caret_to_end(end) {
        // Move caret to end of input field
        var len = end.value.length;
        if (end.setSelectionRange) {
            end.focus();
            end.setSelectionRange(len, len);
        } else if (end.createTextRange) {
            var t = end.createTextRange();
            t.collapse(true);
            t.moveEnd('character', len);
            t.moveStart('character', len);
            t.select();
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Focus on search input field
        var elm = document.getElementById("q");
        elm.focus();
        // Move caret to end of input field
        caret_to_end(elm);
        // Enable autocompletion suggestions
        new autoComplete({
            selector: 'input[name="q"]',
            submit: true,
            minChars: 1,
            cache: 0,
            source: function (term, response) {
                var qval = document.getElementById("q").value;
                ajax_get('/api/suggest/' + encodeURIComponent(qval), function (data) {
                    response(data);
                });
            },
            onSelect: function (e, term, item) {
                document.getElementById("search").submit();
            }
        });
    });
</script>