<script>
    // Prevent empty search submission
    function validate_search() {
        return !(document.getElementById("q").value.trim() == "");
    }
</script>

<h1 class="heading">Ensk-íslensk orðabók</h1>
<h2 class="english_subheading">English-Icelandic dictionary</h2>

<form action="/search" method="GET" name="search" accept-charset="utf-8" onsubmit="return validate_search();">
    <div class="grid-x">
        <div class="small-9 medium-10">
            <input type="text" id="q" name="q" placeholder="Sláðu inn enskt orð" value="{{ q }}">
        </div>
        <div class="small-3 medium-2">
            <input type="submit" class="button" value="Leita">
        </div>
    </div>
</form>