{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Sækja gögnin á bak við vefinn ensk.is">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<h1>Tölfræði</h1>

<!-- Database stats -->


<table id="general_stats">
    <tr>
        <td>
            <h2 style="margin-bottom:0">Gagnagrunnur</h2>
        </td>
        <td><strong>Fjöldi</strong></td>
        <td><strong>Hlutfall</strong></td>
    </tr>
    <tr>
        <td><a href="/all"><strong>Færslur</strong></a></td>
        <td>{{ num_entries }}</td>
        <td>100%</td>
    </tr>
    <tr>
        <td><a href="/original"><strong>Upprunalegar</strong></a></td>
        <td>{{ num_original }}</td>
        <td>{{ perc_original }}</td>
    </tr>
    <tr>
        <td><a href="/additions"><strong>Viðbætur</strong></a></td>
        <td>{{ num_additions }}</td>
        <td>{{ perc_additions }}</td>
    </tr>
    <tr>
        <td><strong>Bls. vantar</strong></td>
        <td>{{ no_page }}</td>
        <td>{{ perc_no_page }}</td>
    </tr>
    <tr>
        <td><strong>UK IPA vantar</strong></td>
        <td>{{ no_uk_ipa }}</td>
        <td>{{ perc_no_uk_ipa }}</td>
    </tr>
    <tr>
        <td><strong>US IPA vantar</strong></td>
        <td>{{ no_us_ipa }}</td>
        <td>{{ perc_no_us_ipa }}</td>
    </tr>
    <tr>
        <td><a href="/capitalized"><strong>Með hástafi</strong></a></td>
        <td>{{ num_capitalized }}</td>
        <td>{{ perc_capitalized }}</td>
    </tr>
    <tr>
        <td><a href="/nonascii"><strong>Ekki ASCII</strong></a></td>
        <td>{{ num_nonascii }}</td>
        <td>{{ perc_nonascii }}</td>
    </tr>
    <tr>
        <td><a href="/multiword"><strong>Fleiri en eitt orð</strong></a></td>
        <td>{{ num_multiword }}</td>
        <td>{{ perc_multiword }}</td>
    </tr>
    <tr>
        <td><a href="/duplicates"><strong>Samstæður</strong></a></td>
        <td>{{ num_duplicates }}</td>
        <td>{{ perc_duplicates }}</td>
    </tr>
</table>

<br>

<!-- Word cat distribution stats-->

<table id="wordcats">
    <tr>
        <td>
            <h2 style="margin-bottom:0">Orðflokkar</h2>
        </td>
        <td><strong>Fjöldi</strong></td>
        <td><strong>Hlutfall</strong></td>
    </tr>
    <tr>
        <td><a href="/cat/n"><strong>Nafnorð (n.)</strong></a></td>
        <td>{{ wordstats["n"]["num"] }}</td>
        <td>{{ wordstats["n"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/nft"><strong>Nafnorð í fleirtölu (nft.)</strong></a></td>
        <td>{{ wordstats["nft"]["num"] }}</td>
        <td>{{ wordstats["nft"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/l"><strong>Lýsingarorð (l.)</strong></a></td>
        <td>{{ wordstats["l"]["num"] }}</td>
        <td>{{ wordstats["l"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/s"><strong>Sagnir (s.)</strong></a></td>
        <td>{{ wordstats["s"]["num"] }}</td>
        <td>{{ wordstats["s"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/ao"><strong>Atviksorð (ao.)</strong></a></td>
        <td>{{ wordstats["ao"]["num"] }}</td>
        <td>{{ wordstats["ao"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/uh"><strong>Upphrópanir (uh.)</strong></a></td>
        <td>{{ wordstats["uh"]["num"] }}</td>
        <td>{{ wordstats["uh"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/stytt"><strong>Styttingar (stytt.)</strong></a></td>
        <td>{{ wordstats["stytt"]["num"] }}</td>
        <td>{{ wordstats["stytt"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/fs"><strong>Forsetningar (fs.)</strong></a></td>
        <td>{{ wordstats["fs"]["num"] }}</td>
        <td>{{ wordstats["fs"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/fn"><strong>Fornöfn (fn.)</strong></a></td>
        <td>{{ wordstats["fn"]["num"] }}</td>
        <td>{{ wordstats["fn"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/fsk"><strong>Forskeyti (fsk.)</strong></a></td>
        <td>{{ wordstats["fsk"]["num"] }}</td>
        <td>{{ wordstats["fsk"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/st"><strong>Samtengingar (st.)</strong></a></td>
        <td>{{ wordstats["st"]["num"] }}</td>
        <td>{{ wordstats["st"]["perc"] }}</td>
    </tr>
    <tr>
        <td><a href="/cat/gr"><strong>Greinar (gr.)</strong></a></td>
        <td>{{ wordstats["gr"]["num"] }}</td>
        <td>{{ wordstats["gr"]["perc"] }}</td>
    </tr>

</table>

<br>
<br>
<br>
<br>

{% endblock %}