{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Um ensk-íslensku orðabók Geirs Zoëga">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<h1>Nánar um orðabók Geirs Zoëga</h1>

<a href="static/img/zoega.jpg">
  <img src="static/img/zoega.jpg" style="float:right; margin-left:10px; width:33%;" alt="Geir T. Zoëga">
</a>

<p>Þriðja útgáfa af ensk-íslenzku orðabók Geirs T. Zoëga
  kom út árið 1932</strong>. Geir (f. 1857) var enskukennari og síðar rektor
  við Menntaskólann í Reykjavík á árunum 1883-1927, og gaf fyrst út
  ensk-íslensku orðabók sína árið 1896. Hann lést árið 1928
  og ritstjórn síðustu útgáfu orðabókarinnar féll í hendur Þorsteins
  Þorsteinssonar. Nánar má lesa um æviskeið Geirs Zoëga
  <a href="static/img/zoega_obit.pdf">hér.</a>
</p>

<p>Frumtexti Geirs hefur farið í gegnum talsverðar breytingum í höndum
  ritstjóra, m.a. eftirfarandi:</p>

<ul>
  <li>Stafsetning á íslenskum orðum var uppfærð til að samræmast
    nútímaritreglum, sbr. sjer->sér, mentun->menntun, skifting->skipting, verzlun->verslun, o.s.frv.</li>
  <li>Illskiljanlegar forneskjulegar skilgreiningar voru uppfærðar
    til þess að samræmast málnotkun samtímans.</li>
  <li>Skilgreiningar sem geyma orð sem þykja ekki lengur við hæfi voru uppfærðar.</li>
  <li>Fjölmargar villur í stafsetningu og skilgreiningum voru leiðréttar.</li>
  <li>Ýmsum orðaskilgreiningum var bætt við.</li>
</ul>

<p>Blaðsíður upprunalegu orðabókarinnar er hægt að skoða <a href="/page/1">hér.</a>

  <br>
  <br>
  <br>

  {% endblock %}