{% extends "container.html" %}

{% block meta %}
<meta name="description" content="Um ensk-íslensku orðabók Geirs Zoëga">
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<h1>Nánar um orðabók Geirs Zoëga</h1>

<a href="static/img/zoega.jpg">
  <img src="static/img/zoega.jpg" class="zoega-img" alt="Geir T. Zoëga">
</a>

<p>Þriðja útgáfa af ensk-íslenzku orðabók Geirs T. Zoëga
  kom út árið <strong>1932</strong>. Geir (f. 1857) var enskukennari og síðar rektor
  við Menntaskólann í Reykjavík á árunum 1883-1927, og gaf fyrst út
  ensk-íslensku orðabók sína árið 1896. Hann lést árið 1928
  og ritstjórn síðustu útgáfu (1932) féll í hendur Þorsteins
  Þorsteinssonar. Nánar má lesa um æviskeið Geirs Zoëga
  <a href="static/files/zoega_obit.pdf">hér.</a>
</p>

<!--
<p>Geir hlaut á sínum tíma <a href="/static/img/styrkur1902.jpg">styrk frá íslenska ríkinu</a>
  til þess að þróa þessa orðabók. Nú, hér um bil hundrað árum síðar, er hún loksins
  gjaldfrjálst aðgengileg öllum.
</p>-->

<p>Frumtexti Geirs hefur breyst talsvert í höndum núverandi ritstjóra, m.a. eftirfarandi:</p>

<ul>
  <li>Stafsetning á íslenskum orðum var uppfærð til að samræmast
    nútímaritreglum, sbr. <em>sjer->sér</em>, <em>mentun->menntun</em>,
    <em>skifting->skipting</em>, <em>verzlun->verslun</em>, o.s.frv.
  </li>
  <li>Illskiljanlegar eldri skilgreiningar voru uppfærðar
    til þess að samræmast málnotkun samtímans.</li>
  <li>Skilgreiningar sem geyma orð sem þykja ekki lengur við hæfi voru uppfærðar.</li>
  <li>Fjölmargar villur í stafsetningu og skilgreiningum frumtextans voru leiðréttar.</li>
  <li>Fjölmörgum orðaskilgreiningum var <a href="/additions">bætt við</a> ({{num_additions}} viðbætur).</li>
</ul>

<p>Blaðsíður upprunalegu orðabókarinnar er hægt að skoða <a href="/page/1">hér.</a></p>

<br>
<br>
<br>
<br>

{% endblock %}