name: build

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

env:
  IN_CI_ENVIRONMENT: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install uv
          uv pip install --system --upgrade wheel setuptools ruff pytest httpx curlylint pyright
          uv pip install --system -r requirements.txt
          uv pip install --system -r requirements-dev.txt
      - name: Ruff linting
        run: |
          ruff check *.py routes/*.py gen/*.py tests/*.py
      - name: Template linting
        run: |
          curlylint templates/*.html
      - name: Type checking
        run: |
          pyright *.py routes/*.py gen/*.py tests/*.py
      - name: Verify dictionary source files
        run: |
          python gen/verify.py
      - name: Generate dictionary data files
        run: |
          python gen/gen.py
      - name: Run pytest
        run: |
          python -m pytest
